{% extends 'base.html.twig' %}

{% block title %}Edit Rotation{% endblock %}

{% block body %}
    <h1>Edit Rotation</h1>

    {{ include('rotation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rotation_index') }}">back to list</a>

    {{ include('rotation/_delete_form.html.twig') }}
{% endblock %}
