{% extends 'base.html.twig' %}

{% block title %}New Rotation{% endblock %}

{% block body %}
    <h1>Create new Rotation</h1>

    {{ include('rotation/_form.html.twig') }}

    <a href="{{ path('rotation_index') }}">back to list</a>
{% endblock %}
