<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Application/Pichoulis{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}<link rel="stylesheet" href="../css/bootstrap.css">{% endblock %}
        <script src="../js/jquery.js" defer ></script>
        <script src="../js/main.js" defer ></script>
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
